<div id="addBillFormContainer" class="addBillFormContainer">
<!--   <h3>ADD BILL</h3> -->
<!--   <div> -->
<!--     <span>Amount: <input></input></span> -->
<!--   </div> -->
  <div>
    <span clas="noselect">Bill name: <input ng-model="bill.name" class="billNameInput"></input></span>
    <span ng-show="error.billName.empty" style="color:red" class="billNameRequired">Required</span>
  </div>
  <div class="addBillFormParticipantsContainer">
    <div class="ownerFormContainer">
      <div class="ownerLabel noselect"><span>Owner(s)</span></div>
      <div class="ownersContainer">
        <span class="ownerNameLabel noselect">Name</span><span class="amountLabel noselect">Amount</span><span class="ownerShareLabel noselect">Share</span><br/>
        <div class="ownersScrollablecontainer">
        <div ng-repeat="owner in owners" class="ownersInputContainer">
          <select ng-model="owner.name" actual-select="{{owner.name}} {{owner.id}}" ng-options="o as o for o in owner.optionList" class="ownerSelect"></select>
          <input ng-model="owner.amount" class="amountInput"></input>
          <input ng-model="owner.share" class="shareInput"></input><br>
        </div>
          <button id="addOwnerButton" ng-click="addOwner()">+</button>
        </div>
      </div>
      
    </div>
    <div class="otherParticipantContainer">
      <div class="othersLabel">
        <span class="noselect">Other(s)</span>
      </div>
      <div class="othersContainer">
        <span class="othersNameLabel noselect">Name</span><span class="shareLabel noselect">Share</span><br/>
        <div ng-repeat="other in others">
          <select ng-model="other.name" actual-select="{{other.name}} {{other.id}}" ng-options="o for o in other.optionList" class="otherSelect"></select>
          <input ng-model="other.share" class="shareInput"></input><br>
        </div>
      </div>
<!--       <div class="addOtherButtonContainer"> -->
        <button id="addOtherButton" ng-click="addOther()" class="addOtherButtonClass">+</button>
<!--       </div> -->
    </div>
  </div>
  <br/>
  <div>
    <div id="formActions" class="saveBillButton">
      <button id="saveButton" ng-click="saveBill()">Save</button>
    </div>
  </div>
</div>