 <div class="cardContainer">
      <div class="availableTripCard cardImg" ng-click="cardSelect()">
        <div class="tripText hideCardText">
          <div ng-show="!emptySlot" class="tripCard">
            <div>
              <p class="tripName">{{card.tripName}}</p>
              <div ng-repeat="participant in card.participants">
                <span>{{participant}}</span>
              </div>
            </div>

              <button class="tripOpenButton" ng-click="openTrip()">Open</button>

          </div>
          <div ng-show="emptySlot" class="emptySlot">
            <p>EMPTY</p>
            <p>SLOT</p>
          </div>
        </div>
      </div>
    
</div>