  <div>
    <div class="carousel-demo">
        <ul rn-carousel rn-carousel-index="availableTrips.carouselIndex" rn-carousel-buffered class="carouselUl">
            <li ng-repeat="slide in slides">
                 <div class="cardContainer">
                   <div ng-repeat="card in availableTrips.cards">
                     <trip-loading-card firstCard="{{$even}}" card="card" active="false"></trip-loading-card>
                   </div>
                 </div>
            </li>
        </ul>
    </div>
  </div>