  <div>
    <div class="menuItem">
<!--       <a id="newTripButton" href="#/new">New Trip</a> -->
      <button id="newTripButton" class="menuButton" ng-click="menu.newTripButtonClick()">New Trip</button>
    </div>
    <div class="menuItem">
<!--       <a id="availableTripButton" href="#/trips">Available Trips</a> -->
      <button id="availableTripButton" class="menuButton" ng-click="menu.availableTripButtonClick()">Available Trips</button>
    </div>
    <div class="menuItem">
      <button id="settingsButton" class="menuButton">Settings</button>
    </div>
    <div class="menuItem">
      <button id="mockDataButton" class="menuButton" ng-click="menu.initMockData()">Mock</button>
    </div>
  </div>