  <div>
    <div class="menuItem">
<!--       <a id="newTripButton" href="#/new">New Trip</a> -->
      <button id="newtripButton" class="menuButton">New Trip</button>
    </div>
    <div class="menuItem">
<!--       <a id="availableTripButton" href="#/trips">Available Trips</a> -->
      <button id="availableTripButton" class="menuButton">Available Trips</button>
    </div>
    <div class="menuItem">
      <button id="settingsButton" class="menuButton">Settings</button>
    </div>
    <div class="menuItem">
<!--       <a id="mockDataButton" ng-show="menu.test" ng-click="menu.initMockData()">Mock</a> -->
      <button id="mockDataButton" class="menuButton">Mock</button>
    </div>
  </div>