  <div>
    <div class="menuItem">
<!--       <a id="newTripButton" href="#/new">New Trip</a> -->
      <button id="newTripButton" class="menuButton" ng-click="menu.newTripButtonClick()">New Trip1</button>
    </div>
    <div class="menuItem">
<!--       <a id="availableTripButton" href="#/trips">Available Trips</a> -->
      <button id="availableTripButton" class="menuButton" ng-click="menu.availableTripButtonClick()">Available Trips</button>
    </div>
    <div class="menuItem">
      <button id="settingsButton" class="menuButton">Settings</button>
    </div>
    <div class="menuItem">
<!--       <a id="mockDataButton" ng-show="menu.test" ng-click="menu.initMockData()">Mock</a> -->
      <button id="mockDataButton" class="menuButton" ng-click="menu.initMockData()">Mock</button>
      <button id="resetDb" class="menuButton" ng-click="menu.resetDatabase()">Reset DB</button>
    </div>
  </div>