  <div>
  <h2 id="openTripHeader" class="openTripHeaderLine">OPEN TRIP</h2>
  
    <button ng-click="openTrip.testDb()">Test Db</button>
<!--   <div id="pageMenu"> -->
<!--     <div class="openTripPageMenuButton"> -->
<!--       <button ng-click="openTrip.changeSubPage(0)">Add new bill</button> -->
<!--      </div>  -->
<!--      <div class="openTripPageMenuButton"> -->
<!--       <button ng-click="openTrip.changeSubPage(1)">Check bills</button> -->
<!--     </div> --> 
<!--     <div class="openTripPageMenuButton"> -->
<!--       <button ng-click="openTrip.changeSubPage(2)">Current trip status</button> -->
<!--      </div> -->
<!--   </div> -->
<!--   <div> -->
<!--     <div ng-show="openTrip.subPageStatus[0]"> -->
<!--       <add-bill-form></add-bill-form> -->
<!--     </div> -->
<!--     <div ng-show="openTrip.subPageStatus[1]"> -->
<!--       <list-bills></list-bills> -->
<!--     </div> -->
<!--     <div ng-show="openTrip.subPageStatus[2]"> -->
<!--       <current-status></current-status> -->
<!--     </div> -->
<!--     <div ng-show="openTrip.subPageStatus[3]"> -->
<!--       <span>OPEN BILL</span> -->
<!--       <open-bill></open-bill> -->
<!--     </div> -->
<!--   </div> -->
  </div>