@CHARSET "ISO-8859-1";
body {
	background-color: white;
/* 	color: black; */
/* 	width: 480px; */
/* 	height: 800px; */
}

.browserBody{
	width: 484px;
  height: 860px;
}

.appHeader {
	text-align: center;
	height: 5em;
}

.view-container {
	background: white;
  color: black;
	}

.menuItem {
  height: 4em;
  text-align: center;
  font-size: 28px;
}

.menuButton {
	height: 3em;
	width: 50%;
	margin-top: 3em;
	font-weight: bold;
}