@CHARSET "ISO-8859-1";
body {
	background-color: white;
/* 	color: black; */
/* 	width: 480px; */
/* 	height: 800px; */
}

.browserBody{
	width: 484px;
  height: 860px;
}

.appHeader {
	text-align: center;
	height: 5em;
}

.view-container {
	background: white;
  color: black;
	}

.menuItem {
  height: 4em;
  text-align: center;
  font-size: 28px;
}

.menuButton {
	height: 3em;
	width: 50%;
	margin-top: 3em;
	font-weight: bold;
}

#newTripFormContainer{
	padding-left: 5%;
}

.tripNameContainer{
	padding-bottom: 5%;
}

.participantHeader{
	padding-bottom: 5%;
}

.participantsListContainer{
	padding-left: 8%;
}

.participantName{
	width: 50%;
}

#newTripHeader{
  text-align: center;
  margin-bottom: 2em;
}

#tripForm{
	height: 24em;
}

#newTripFormActions{
	height: 4em;
}

#newTripSaveButton{
	position: absolute;
/* 	top: 92%; */
	left: 75%;
	width: 5em;
	height: 2em;
	font-size: 14px;
	margin-top: 1em;
}
